<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ asset('bundles/cita/js/jquery-2.0.3.js') }}" type="text/javascript"></script>
        <!--[if lt IE 9]>
		<script src="{{ asset('bundles/especialidad/js/modernizr.custom.js') }}"></script>
	<![endif]-->
        
        {% block filesJS %}{%endblock%}
        
        {% block stylesheet %}{% endblock %}
        
    </head>
    <body>
        <!-- wrapper -->
        <div id="wrapper">
            <!-- top-section -->
            <section class="top-section">
                <!-- header -->
                <header>
                    <div class="shell">
                        <h1 id="logo"><a href="#">crisal</a></h1>
                            <!-- navigation -->
                            {% include '::menu.html.twig' %}
                            <!-- end of navigation -->
                    </div>
                </header>
                <!-- end of header -->
                
                {% block shell %}{% endblock %}
                
            </section>
            <!-- end of top-section -->
            
            {% block main %}{% endblock %}
            
            {% block bottomSection %}{% endblock %}
            
        </div>
        <!-- end of wrapper -->
        
        <!-- footer -->
        {% include '::footer.html.twig' %}
        <!-- end of footer -->
    </body>
</html>