<div id="footer">
    <div class="shell">
        <div class="footer-nav">
            <ul>
                <li><a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">Contacto</a></li>
                <li><a href="{{ path('pagina_estatica', { 'pagina': 'licencia' }) }}">Licencia</a></li>
                <li><a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' }) }}">Privacidad</a></li>
                <li><a href="{{ path('pagina_estatica', { 'pagina': 'terminosycondiciones' }) }}">Términos y condiciones</a></li>
            </ul>    
        </div>
        <p class="copy">&copy;2014 - Centro médico CRISAL &nbsp;| &nbsp;Copyright &copy;2012 design by: <a href="http://chocotemplates.com" target="_blank">CHOCOTEMPLATES.COM</a></p>        
        <div class="cl">&nbsp;</div>
    </div>
</div>