<nav id="navigation">
    <a href="{{ path('portada') }}" class="active">INICIO</a>
    <a href="{{ path('quienes_somos') }}">QUIENES SOMOS</a>
    <a href="{{ path('especialidades') }}">SERVICIOS</a>
    <a href="{{ path('especialistas') }}">PROFESIONALES</a>
</nav>