* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body { font-size: 12px; line-height: 18px; font-family: arial, sans-serif; color: #737373; background-color: #eee; min-width: 915px; }

a { color: #169bc5; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2 { font-size: 30px; font-weight: normal; color: #3c2323; line-height: 30px; }
h3 { font-size: 20px; color: #212727; font-weight: normal; line-height: 20px; }
h4 { font-size: 18px; color: #3b4855; font-weight: normal; line-height: 20px; }

.shell { width: 915px; margin: 0 auto; }

a.more-btn { width: 72px; height: 30px; background: url("../images/more-btn.png") no-repeat 0 0; text-align: center; padding: 0 29px 2px 25px; display: block; line-height: 30px; font-size: 12px; color: #405d6f; text-shadow: rgba(255,255,255,0.6) 1px 1px 1px; }
a.more-btn:hover  { color: #21313a; text-decoration: none; }
a.more { font-size: 10px; color: #324c5d;  }

.top-section { padding-bottom: 50px; background: #fff url("../images/top-section.png") repeat-x 0 0; min-height: 616px;}
.top-section h2 { font-size: 30px; font-weight: bold; color: #3a5976; text-align: center; line-height: 30px; padding-bottom: 11px; padding-top: 4px; }
.top-section h3 { font-size: 21px; text-align: center; color: #0aade2; }

header { height: 120px;  }
header .shell { position: relative; }
#logo { width: 180px; position: absolute; top: 39px; left: -1px; font-size: 0; line-height: 0; }
#logo a { height: 33px; display: block; background: url("../images/logo.png") no-repeat 0 0; text-indent: -4000px; }
#navigation { font-size: 13px; font-weight: bold; text-align: right; padding-top: 51px;}
#navigation a { display: inline-block; color: #4b4057; margin-left: 66px; }
#navigation a:hover,
#navigation a.active { color: #169bc5; text-decoration: none; }

/* slider */
.slider-holder { position: relative; }
.slider-holder span { position: absolute; z-index: 100; }
.slider-holder span.slider-t { background: url("../images/slider-t.png") no-repeat 0 0; top: 0; left: -4px; width: 921px; height: 28px; font-size: 0; line-height: 0; text-indent: -4000px; }

.slider-holder span.slider-b-left { background: url("../images/slider-b-left.png") no-repeat 0 0; bottom: 0px; left: -4px; width: 264px; height: 160px; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-holder span.slider-b-center { background: url("../images/slider-b-center.png") no-repeat 0 0; bottom: 0px; left: 260px; width: 393px; height: 115px; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-holder span.slider-b-right { background: url("../images/slider-b-right.png") no-repeat 0 0; bottom: 0px; right: -2px; width: 264px; height: 160px; font-size: 0; line-height: 0; text-indent: -4000px; }

.slider-holder span.slider-l { background: url("../images/slider-l.png") no-repeat 0 0; top: 28px; left: -4px; width: 7px; height: 244px; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-holder span.slider-r { background: url("../images/slider-r.png") no-repeat 0 0; top: 28px; right: -2px; width: 7px; height: 244px; font-size: 0; line-height: 0; text-indent: -4000px; }

.flexslider { width: 916px; height: 432px; position: relative; overflow: hidden; }
.flexslider ul.slides { list-style: none; list-style-position: outside; }
.flexslider li { float: left; width: 916px; height: 325px; position: relative; }
.flexslider ul li img { width: 916px; height: 330px; }
/* end of slider */

.main { background: #fcfcfc url("../images/main.png") repeat-x 0 0; padding-top: 45px; padding-bottom: 40px; }
.main .shell { position: relative; }
.main .shell span.main-arr { background: url("../images/main-arr.png") no-repeat 0 0; width: 19px; height: 11px; position: absolute; top: -46px; left: 18px; }
.main h3 { padding-bottom: 26px; }
.main p { padding-bottom: 30px; }

.content { width: 500px; float: left; }
.content img.alignright { position: relative; margin: -15px 0 0 12px; }

aside { width: 320px; float: right; }

.bottom-section { background: #eeeeee url("../images/bottom-section.png") repeat-x 0 0; padding: 45px 0;  }
.bottom-section .col { width: 300px; float: left; }
.bottom-section .col + .col { padding-left: 45px;  } 
.bottom-section .col h4 { padding-bottom: 24px; }
.bottom-section .col p { padding-bottom: 14px; font-size: 13px; color: #737373; }

.bottom-section .col .user { padding-top: 16px; margin-top: 13px; margin-left: 12px; border-top: 1px solid #dfdde1; border-bottom: 1px solid #dfdde1; position: relative; margin-bottom: 10px;  }
.bottom-section .col .user img.alignleft { margin-right: 11px; background-color: #fff; border: 1px solid #d8d8d8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }

html, body { height: 100%; }
#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -48px; }
#footer, #footer-push { height: 48px; }
#footer { line-height: 48px; background-color: #e2e2e2;  }
#footer p.copy { float: right; font-size: 10px; color: #9b9b9b; display: inline; }
#footer p.copy a { color: #979797;  }

.footer-nav { font-size: 10px; float: left; }
.footer-nav ul { list-style: none; list-style-position: outside; }
.footer-nav ul li { float: left; padding: 0 21px 0 18px; background: url("../images/footer-nav-border.png") no-repeat right 20px; }
.footer-nav ul li.last { padding-right: 0px; background: transparent; }
.footer-nav ul li a { color: #737373; }
.footer-nav ul li a:hover { color: #0aade2; text-decoration: none; }

.widget { padding: 10px 0 0 10px; }
.widget h3 { padding-bottom: 10px; }
.widget h3 a { text-decoration: none; text-shadow: 1px 1px 1px #000000; }
.widget h3 a:hover { text-shadow: 0px 0px 0px #000000; }

#login { border: 4px solid #7f9daa; border-radius: 15px; box-shadow: -4px 4px 3px gray; background-color: #ffffff; padding-bottom: 10px; }

#registro_usuarios { background-color: #dddddd; border-radius: 5px; margin: 0 10px; }
#registro_usuarios .titulo { border-radius: 5px; color: #000; font-size: 1.3em; padding: 5px 10px;text-shadow: 2px 2px 1px #fff; }

#registrar_usuarios { margin: 5px; }
#registrar_usuarios fieldset p { padding: 0 0 20px 5px; }
#registrar_usuarios fieldset p:first-child { padding-top: 10px; }
#registrar_usuarios label#email { padding-right: 40px; }
#registrar_usuarios label#password { padding-right: 10px; }
#registrar_usuarios input { background-color: #fff; border-radius: 15px; box-shadow: 0 1px 0 0 #777; color: #333; font-size: 0.85em; padding: 5px 8px 5px 24px; text-shadow: 0 1px 0 #fff; width: 50%; }
#registrar_usuarios #login_user { background: url("../images/email.png") no-repeat scroll left 5px center #fff; }
#registrar_usuarios #login_pass { background: url("../images/key.png") no-repeat scroll left 5px center #fff; }
#registrar_usuarios button { background-color: #7f9daa; border-radius: 10px; box-shadow: 0 1px 0 0 #777; color: #fff; cursor: pointer; margin: 10px 0 10px 0; text-shadow: 2px 2px 1px #000; width: 70px; }
#registrar_usuarios button:hover { text-shadow: 0 0 0 #000; }

.col:first-child { padding-right: 250px; }

.info { color: #fb0909; font-size: 1.2em; padding-bottom: 10px; }